{% extends '@layout/default.html.twig' %}

{% block title %}Overview{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="css/{{ list.getUrlPart() }}" />
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to <span class="zf-green">Laemmi´s fontsdeliver</span></h1>
        <p>
        laemmi
        </p>
    </div>

    <div class="card-columns">
    {% for group in list %}
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{ group.getName() }}</h5>
            {% for item in group %}
            <p style="font-family: '{{ item.getFontName() }}'; font-weight: {{ item.getWeight() }}; font-style: {{ item.getCssStyle() }}">{{ item.getName() }} - {{ item.getStrength() }} ({{ item.getWeight() }}) - {{ item.getStyle() }}</p>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
